*,
* ::before,
* ::after {
    box-sizing: border-box;
}
body {
    font-family: "Inter", serif;
    color: #333333;
    background-color: #FFFFFF;
}   
.header {

}

.container {
    width: 100%;
    padding: 0 165px;
    margin: 0 auto;
    max-width: 1440px;
    
}
.header__container-fulle {
    margin-top: 16px;
    line-height: 120%;
}

.header__img-icone { 
    padding-right: 12px;
}

/* TOP NAV START */

.header__menu-top {
    display: flex;
    white-space: nowrap;
    font-size: 14px;
    
}
.header__nav-link {

}
.header__section-left {
    display: flex;
    
    
}

.header__section-center {
    display: flex;
    padding-left: 64px;
}

.header__section-right {
    display: flex;
    margin-left: 458px;
}

.header__menu-bottom {

}

/* TOP NAV FINISH */

/* BOTTOM NAV START */
.header__menu-bottom {
    display: flex;  
    align-items: center;
    height: 77px;
    
}
.header__logo {
    margin-right: 117px;
}
.header__nav-bottom {
    font-size: 16px;
}
.header__nav-list {
    display: flex;
    gap: 46px;
}
.header__nav-link {
}
.header__menu-btm {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border-radius: 5px;
    width: 179px;
    height: 40px;
    background: #4762ff;
    margin-left: 134px;
}
.header__text-btm {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}
/* BOTTOM NAV FINSH */

/* HEADER FINISH */

/* SECTION MAIN START */

.section__main {

}
.container {
    
}
.container__content-all {
    display: flex;
    margin-right: calc(100% - 100vw);
}
.main__content {
    
}
.main__content-text {
    padding-top: 65px;
}
.main__text {
}
.main__title-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 127%;
    color: #333;
    padding-bottom: 16px;
}
.main__subtitle-text {
    font-weight: 400;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    line-height: 127%;
    max-width: 500px;
    padding-bottom: 32px;
}
.main__btm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 196px;
    height: 52px;
    background: #4762ff;
}
.main__btm-items {
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #fff;

}
.main__bg-img {
    padding-top: 22px;
} 

/* SECTION MAIN FINISH  */

/*  SECTION SERVICES START */

.section__services {

}

.container {

}

.container__text {
    display: grid;
    justify-items: center;
}

.services__title-text {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
}

.services__subtitle-text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(51, 51, 51, 0.8);
    max-width: 540px;
}

.container__block-all {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 50px;
    justify-content: center;
}

.block__common-class {
    border-radius: 9px;
    width: 505px;
    height: 287px;
    background: #f4f6fa;
}

.block__text {
 padding-left: 25px;
 padding-top: 25px;
}

.block__text-title {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    padding-bottom: 15px;
}

.block__text-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.8);
    max-width: 222px;
}

.block__motors-one {
    background-image: url(/img/motors.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}

.block__car-two {
    background-image: url(/img/cars.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}

.block__music-three {
    background-image: url(/img/musik.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}

.block__oil-four {
    background-image: url(/img/oil.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}