*,
* ::before,
* ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}
body,html {
    font-family: "Inter", serif;
    color: #333333;
    background-color: #FFFFFF;
    overflow-x: hidden;
} 

imput {
    outline: none !important;
  }
.header {

}

.container {
    width: 100%;
    padding: 0 165px;
    margin: 0 auto;
    max-width: 1440px;
    
}
.header__container-fulle {
    margin-top: 16px;
    line-height: 120%;
}

.header__img-icone { 
    padding-right: 12px;
}

/* TOP NAV START */

.header__menu-top {
    display: flex;
    white-space: nowrap;
    font-size: 14px;
    
}
.header__nav-link {

}
.header__section-left {
    display: flex;
    
    
}

.header__section-center {
    display: flex;
    padding-left: 64px;
}

.header__section-right {
    display: flex;
    margin-left: 458px;
}

.header__menu-bottom {

}

/* TOP NAV FINISH */

/* BOTTOM NAV START */
.header__menu-bottom {
    display: flex;  
    align-items: center;
    height: 77px;
    
}
.header__logo {
    margin-right: 117px;
}
.header__nav-bottom {
    font-size: 16px;
}
.header__nav-list {
    display: flex;
    gap: 46px;
}
.header__nav-link {
}
.header__menu-btm {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border-radius: 5px;
    width: 179px;
    height: 40px;
    background: #4762ff;
    margin-left: 134px;
}
.header__text-btm {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}
/* BOTTOM NAV FINSH */

/* HEADER FINISH */

/* SECTION MAIN START */

.section__main {

}
.container {
    
}
.container__content-all {
    display: flex;
    margin-right: calc(100% - 100vw);
}
.main__content {
    
}
.main__content-text {
    padding-top: 65px;
}
.main__text {
}
.main__title-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 127%;
    color: #333;
    padding-bottom: 16px;
}
.main__subtitle-text {
    font-weight: 400;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    line-height: 127%;
    max-width: 500px;
    padding-bottom: 32px;
}
.main__btm {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 196px;
    height: 52px;
    background: #4762ff;
}
.main__btm-items {
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #fff;

}
.main__bg-img {
    padding-top: 22px;
} 

/* SECTION MAIN FINISH  */

/*  SECTION SERVICES START */

.section__services {

}

.container {

}

.container__text {
    display: grid;
    justify-items: center;
}

.services__title-text {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
}

.services__subtitle-text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(51, 51, 51, 0.8);
    max-width: 540px;
}

.container__block-all {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 50px;
    justify-content: center;
   
}

.block__common-class {
    border-radius: 9px;
    width: 505px;
    height: 287px;
    background: #f4f6fa;
}

.block__text {
 padding-left: 25px;
 padding-top: 25px;
}

.block__text-title {
    font-weight: 700;
    font-size: 24px;
    color: #333;
    padding-bottom: 15px;
}

.block__text-subtitle {
    font-weight: 400;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.8);
    max-width: 222px;
}

.block__motors-one {
    background-image: url(../img/motors.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}

.block__car-two {
    background-image: url(../img/cars.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}

.block__music-three {
    background-image: url(../img/musik.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}

.block__oil-four {
    background-image: url(../img/oil.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
}
/* /*  SECTION SERVICES FINISH */

/* SELECTION ABOUT-US START */

.about-us {

}

.container {

}

.about-us__content-common {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.text__content {
    max-width: 576px;
    margin-right: 70px;
    margin-top: 70px    ;
}

.about-us__text-title {
    font-weight: 700;
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
    max-width: 540px;
}

.about-us__text-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 10px;
    
}

/* SELECTION ABOUT-US FINISH */

/* SELECTION ABOUT-US START */

.where__content-common {
    display: flex;
    margin-right: calc(100% - 100vw);
    margin-bottom: 120px;
}

/* SELECTION ABOUT-US FINISH */

/* SELECTION swiper START*/

.swiper-slide {
    width: 1124px;
    height: 558px;
    background-repeat: no-repeat;
}
.text-title-slider {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #333;
}
.slider {
    margin-bottom: 120px;
}

/* SELECTION swiper finish*/

/* SELECTION question START*/

.questions {
    background: url(/img/bg-footer.png) top center no-repeat;
    background-size: cover;
}

.container {

}

.questions-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 70px;
    padding-bottom: 69px;
}

.questions-form {
    width: 611px;
    height: 548px;
    background: #FFFFFF;
    border-radius: 15px;
    padding-top: 39px;
    padding-left: 71px;
}

.form-title {
    max-width: 284px;
    font-size: 56px;
    line-height: 68px;
}

.form-subtitle {
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
    color: rgba(51, 51, 51, 0.8);
}

.form-input {
    margin-top: 30px;
    width: 469px;
    height: 56px;
    padding-left: 22px;
    background: rgba(71, 98, 255, 0.08);
    border-radius: 8px;
}

.btn-purple {
    background: #4762FF;
    border-radius: 5px;
    width: 179px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    -webkit-transition: 0.15 slinear;
    transition: 0.15 slinear;
}

.btn-form {
    width: 469px;
    height: 66px;
    margin-top: 37px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer; 
}
.btn-form:hover {
    background-color: #0056b3; /* Новый цвет фона */
    color: #fff; /* Новый цвет текста (если нужно) */
}
/* SELECTION question FINISH*/

/* SELECTION FOOTER START*/

.footer {
    background-color: #1A1A1A;
    height: 391px;
    margin: 0 auto;
}

.container {

}

.container__footer-commons {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.footer__logo {
 padding-right: 57px;
}

.footer__main-block {

}

.nav__footer {

}

.nav__list-footer {

}

.nav__link-active {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding-bottom: 15px;
}

.nav__link-footer {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding-bottom: 8px;
}

.footer__about-block {

}

.footer__link-block {

}
.border__line {
    border: 0.70px solid #474747;
    width: 1124px;
    height: 0px;
    margin-top: 20px;
}
.container__footer-bottom {
    margin-top: 70px;
}
.footer__text-bottom {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    color: #d9dbe1;
}
/* SELECTION FOOTER FINISH*/